.header {
    color:blue;
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.toolbar {
    bottom: 20%
}
.tableDiv {
  min-width: 1300px;
  width: 100%
}